fastapi
uvicorn
pymongo
python-dotenv
openai
pydantic
pydantic[email]
requests
geopy
pandas
numpy
scikit-learn
joblib
tiktoken
presidio-analyzer
presidio-anonymizer
sentence-transformers
torch
PyJWT
python-multipart
psutil